.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}

.mainSection {
  /* display: "block"; */
  flex-direction: column;
  text-align: center;
}

.memberCardGroup {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* justify-content: space-between; */
  margin-bottom: 20px; /* Adjust as needed for spacing between groups */
}

/* Make each card take equal space and add a margin between cards */
.memberCardGroup > div {
  flex: 1;
  margin-right: 10px; /* Adjust as needed for spacing between cards */
}

/* Ensure the last card in each group has no right margin */
.memberCardGroup > div:last-child {
  margin-right: 0;
}

.memberSection {
  text-align: center;
}

.memberContainer {
  width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.description {
  margin: auto;
  text-align: center;
  font-size: large;
}

.rectangle {
  width: 50%;
  height: 400px;
  background-color: blue;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.icon {
  font-size: 2.5em; /* Adjust the font size as needed */
  margin: 0 10px; /* Adjust margin as needed */
}
