.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}
.text {
  justify-content: center;
  text-align: center;
  width: 50%;
}

.rectangle {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50%;
  /* height: 400px; */
}

.reverse {
  flex-direction: row-reverse;
}

.img {
  max-width: 90%;
  height: auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Display vertically on smaller screens */
    margin-bottom: 40px; /* Adjust margin as needed */
  }

  .text,
  .rectangle {
    width: 100%; /* Take up full width on smaller screens */
  }

  .rectangle {
    height: auto; /* Adjust height as needed, or remove for automatic sizing */
  }
}
